# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.lcov

# Build output
dist/
build/
*.tsbuildinfo

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb

# # Docker
# docker-compose.yml
# docker-compose.stag.yml
# docker-compose.prod.yml
# .dockerignore

# SonarQube
.scannerwork/

# Temporary files
*.tmp
*.temp
.cache/
